<div class="input">
  {{input
    type='text'
    spellcheck=false
    value=value
    placeholder=placeholder
    input=(action 'input')
    keydown=(action 'keydown')
  }}

  <button title='clear input' class='clear' disabled={{valueIsEmpty}} {{action 'clear'}}>{{{clearButton}}}</button>
</div>

{{#if value}}
  <div class="content">
    {{yield (hash
      message=(component 'block-component')
      list=(component 'typeahead-list' items=items onItemClick=(action 'onItemClick') selectionIdx=selectionIdx)
    )}}
  </div>
{{/if}}
