<div class="input">
  <input
    type='text'
    value={{value}}
    placeholder={{placeholder}}
    oninput={{action 'input'}}
    onkeydown={{action 'keydown'}}
  />

  <button title='clear input' class='clear-typeahead-input' disabled={{valueIsEmpty}} {{action 'clear'}}>&#10005;</button>
</div>

{{#if value}}
  <div class="typeahead-input-content">
    {{yield (hash
      message=(component 'block-component')
      list=(component 'typeahead-list' items=items onItemClick=(action 'onItemClick') selectionIdx=selectionIdx)
    )}}
  </div>
{{/if}}
